.App{
  height: 100vh;
  width: 100vw;
}

main {
  height: 100%;
  width: 100%;
}

.mainContainer{
  height: 100%;
  width: 80%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

form {
  height: 35%;
  width: 100%;
}

.statusInput {
  height: 55%;
  width: 50%;
  margin: 0 25%;
}

.statusSubmit {
  height: 10%;
  width: 7%;
  margin: 0 25% 0 calc(100% - 25% - 7%);
}

.cardContainer {
  height: 65%;
  width: 100%;
  outline: 1px solid white;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card{
  outline: 1px solid grey;
  margin: 1rem;
}